.staff-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 992px) {
  .staff-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .staff-container {
    grid-template-columns: 1fr;
  }
}

.staff-card {
  text-align: center;
}

.staff-card img {
  width: 175px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
